@font-face {
    font-family: 'Avengeance Mightiest Avenger';
    src: url('../fonts/AVENGEANCE MIGHTIEST AVENGER.otf');
}

html {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0px;
    padding: 0px;
    /* -- */
    font-family: 'Avengeance Mightiest Avenger', Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    /* -- */
    color: #ffffff;
    background: #000000;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

header {
    background-color: #ffffff;
}

.main-logo {
    padding: 45px 35px;
}

.main-logo h1 {
    /* font-family: "Avengeance Mightiest Avenger", Verdana, sans-serif; */
    width: 160px;
    line-height: normal;
    font-size: 28px;
    margin: 0px;
    color: #000000;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    -webkit-clip-path: inset(100%);
}