@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('yanone-200-normal.woff2') format('woff2'), url('yanone-200-normal.woff') format('woff'), url('yanone-200-normal.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}